<header class="main__header">

  <div class="nav__logo">
    Beatrice
  </div>

  <div class="nav__toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="menu__overlay">

    <nav class="mobile__menu">

        <div class="menu__title">
          Menu
          <hr class="menu__hr">
        </div>
      <ul class="nav__list">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">Contact Us</a>
        </li>

        <li>
          <a href="#">Cooperation</a>
        </li>

        <li class="toggle__collections">

          <a href="#">
            <span>Dresses</span>
            <i class="ri-arrow-down-line nav__arrow"></i>
          </a>

          <ul class="collections__wrapper">
            <li><a href="#">Royal Sunshine</a></li>
            <li><a href="#">Bloom Of Love</a></li>
            <li><a href="#">Infinity</a></li>
            <li><a href="#">Infinity</a></li>
            <li><a href="#">Infinity</a></li>
            <li><a href="#">123</a></li>
            <li><a href="#">123</a></li>
            <li><a href="#">123</a></li>
            <li>
              <hr class="menu__hr first__hr">
                <a href="#">Show More</a>
              <hr class="menu__hr">
            </li>
          </ul>

        </li>

      </ul>

    </nav>

  </div>

</header>